.ipynb_checkpoints/
__pycache__/
*.egg-info/
blockly/
.coverage
*.log
*.xunit.xml
node_modules/
screenshots/


src/*.js
src/*.js.map
!src/webpack.conf.js
!src/.watch.filter.js
dateslider/static/index.js
src/*.map

build/
dist/
